{{#if showComponents.showQuestionThree}}
  <h4>Have you spent 15 minutes going through the problem documenting everything</h4>
  <button class="btn" {{action 'moveToTicketForm'}}>Yes >></button>
{{/if}}
