{{#if showComponent.showTicketConfirmation}}
<h4>Thanks, . Help is on the way.</h4>
<p>Leave this page open while you continue working on the problem.</p>
<button type="button" name="button"></button>
{{/if}}
