@import url('https://fonts.googleapis.com/css?family=Nixie+One');

$orange: #DC602E;
$white: #ffffff;
$gray: #E6E6EA;

body {
  background-color: $gray;
}

button {
  background-color: $orange;
  color: $white;
}

.navbar {
  text-align: center;
  background-color: $orange;
  color: $white;
  font-family: 'Nixie One', cursive;
}

// .banner {
//   width: 100%;
//   z-index: -2;
// }
//
// #left {
//   position: fixed;
//   padding: 0;
//   margin-left: -10%;
//   position: absolute;
//   width: 100%;
// }
//
// #right {
//   text-align: right;
// }
