@import url('https://fonts.googleapis.com/css?family=Nixie+One');

$orange: #DC602E;
$white: #ffffff;

.navbar {
  text-align: center;
  background-color: $orange;
  color: $white;
  font-family: 'Nixie One', cursive;
}
